# Platform Engineering team must approve all changes

## General code ownership

- @melizalde-ds @scmurdock

## Can approve changes to specific areas

- @tino4xc

# Security-related configs

/.github/ @miguel-elizalde @scmurdock
